---
import { siteData } from "~/config"
import AboutContent from "~/config/about.mdx"
import MainLayout from "~/layouts/main.astro"
import { getLanguagePaths } from "~/utils/langs"

export function getStaticPaths() {
  return getLanguagePaths()
}

const pageMeta = siteData.pageMeta
---

<MainLayout
  title={"About me"}
  description={"A bit about myself"}
  needComment={true}
>
  <div class="prose dark:prose-invert max-w-3xl">
    <AboutContent />
  </div>
</MainLayout>
