---
import AboutContent from "~/config/about.mdx"
import MainLayout from "~/layouts/main.astro"

export function getStaticPaths() {}
---

<MainLayout
  title={"About me"}
  description={"A bit about myself"}
  needComment={true}
>
  <div class="prose prose-invert max-w-3xl">
    <AboutContent />
  </div>
</MainLayout>
