---
import { render } from "astro:content"
import MainLayout from "~/layouts/main.astro"
import "~/styles/post.css"
import "~/styles/post.scss"
import { formatDate, getPosts } from "~/utils"

export async function getStaticPaths() {
  const allPaths = []

  const posts = await getPosts()
  const paths = posts.map((post: any) => ({
    params: { slug: post.id },
    props: { post },
  }))
  allPaths.push(...paths)

  return allPaths
}

const { post } = Astro.props

const { Content } = await render(post)
---

<MainLayout {...post.data}>
  <article class="prose dark:prose-invert w-full max-w-3xl overflow-hidden">
    <div class="flex flex-col gap-2">
      <h2 class="my-0! text-3xl font-semibold">{post.data.title}</h2>
      <div class="flex flex-row items-baseline gap-4 align-bottom">
        <div class="text-gray-500">
          {formatDate(post.data.pubDate)}
        </div>

        <div class="flex flex-row gap-1">
          {
            post.data.tags.sort().map((tag: string) => (
              <a
                href={`/tags/${tag}`}
                class="my-0! justify-center rounded-xl bg-gray-800 px-2 py-0! align-bottom text-sm/loose no-underline"
              >
                #{tag}
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <div class="my-6">
      <Content />
    </div>
  </article>
</MainLayout>
