---
import { siteData } from "~/config"

const { posts, about } = siteData.navigation
---

<div
  class="flex scrollbar-none gap-4 overflow-x-auto text-lg whitespace-nowrap [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden"
>
  {
    posts && (
      <a
        href={`/posts`}
        class="hover:underline hover:underline-offset-4"
        aria-label={"Posts"}
        title={"Posts"}
        data-astro-prefetch="viewport"
      >
        <p>{"Posts"}</p>
      </a>
    )
  }
  {
    about && (
      <a
        href={`/about`}
        class="hover:underline hover:underline-offset-4"
        aria-label={"About"}
        title={"About"}
        data-astro-prefetch="viewport"
      >
        <p>{"About"}</p>
      </a>
    )
  }
</div>
