---
import { siteData } from "~/config"

const { archive, about } = siteData.navigation
---

<div
  class="flex scrollbar-none gap-4 overflow-x-auto text-lg whitespace-nowrap [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden"
>
  {
    archive && (
      <a
        href={`/archive`}
        class="hover:underline hover:underline-offset-4"
        aria-label={"Archive"}
        title={"Archive"}
        data-astro-prefetch="viewport"
      >
        <p>{"Archive"}</p>
      </a>
    )
  }
  {
    about && (
      <a
        href={`/about`}
        class="hover:underline hover:underline-offset-4"
        aria-label={"About"}
        title={"About"}
        data-astro-prefetch="viewport"
      >
        <p>{"About"}</p>
      </a>
    )
  }
</div>
