---
interface Props {
  post: any
}

const { post } = Astro.props
---

<a
  href={`/posts/${post.id}/`}
  class="my-3 flex visited:text-gray-400/90 md:my-2"
>
  <p class="line-clamp-2 text-lg hover:underline">{post.data.title}</p>
</a>
