---
import { common } from "~/config"
import { getPosts } from "~/utils"
import PostList from "./post-list.astro"

const allPosts = await getPosts()
const posts = allPosts.slice(0, common.latestPosts)
---

<div class="my-8 text-xl font-medium text-gray-300 md:my-8">{"Latest"}</div>
{posts.map((post: any) => <PostList post={post} />)}
