---
import LinkCard from "~/components/astro/link-card.astro"
import { siteData } from "~/config"
import { links } from "~/config/links"
import MainLayout from "~/layouts/main.astro"

const pageMeta = siteData.pageMeta
---

<MainLayout title={"Links"} description={"Some links "} needComment={true}>
  <h3 class="">
    {"Some things I like / use"}
  </h3>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
    {links.map((link) => <LinkCard {...link} />)}
  </div>
</MainLayout>
